[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
asyncpg = "*"
validators = "*"
minikin = {editable = true, path = "."}
uvloop = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
mypy = "*"
pytest-aiohttp = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
